.contentBody {
    background-color: #ededed;
    margin-bottom: 2%; 
}
.contentBody .container {
    margin-top: 1.5%; 
}
.contentBody .container .content {
    width: 75%;
    height: 80%;
    margin: auto;
    padding-bottom: 3%;
    background-color: white; 
}
@media (max-width: 768px) {
    .contentBody .container .content {
        width: 90%; 
    } 
}
.contentBody .container .content .center {
    margin: auto;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%; 
}

#mvDaynamesTable {
    background-color: black; 
}