<div class="contentBody">
    <div class="banner">
        <object class="bannerImage" data="/Images/banner.svg" type="image/svg+xml"></object>
    </div>
    <div class="container">
        <div class="content">
            <div class="contentDetails">
                ARE YOU LOOKING FOR AN INCOMPARABLE SETTING FOR YOUR NEXT EVENT? THE <b>SENTINEL PARTY CENTER</b>, LOCATED AT 11845 ST. RT. 
                44 MANTUA, OH 44255, IS THE PLACE! WHETHER YOU’RE TOASTING AT YOUR WEDDING, CELEBRATING YOUR ANNIVERSARY, COMMEMORATING YOUR 
                CAREER WITH A RETIREMENT PARTY, EVEN HOSTING A REUNION OR LARGE CORPORATE EVENT, THE <b>SENTINEL PARTY CENTER</b> 
                HOPES TO SEE YOU SOON.
            </div>
            <div class="contentDetails">
                OUR STUNNING MAIN ROOM ACCOMMODATES 225 PEOPLE COMFORTABLY. THE MAIN ROOM FEATURES A DANCE FLOOR THAT'S OVER
                400 SQUARE FEET, ELEGANT SCONCES AND CHANDELIERS. THE NEUTRAL COLOR SCHEMES CREATE AN ENVIRONMENT SUITABLE FOR ANY 
                OCCASION!
            </div>
            <div class="contentDetails">
                WE OFFER A COMPLETE FACILITY STOCKED WITH TABLES AND CHAIRS. THE BAR HAS A TELEVISION WITH THE ABILITY TO PLAY SLIDESHOWS.
                ALSO AVAILABLE FOR RENTAL ARE REVERSE RAFFLE BOARDS, PODIUMS, MICROPHONES AND STAGING.
            </div>
            <div class="contentDetails">
                OUR SUGGESTED CATERER IS MANTUA CORNERS CATERING, LOCATED SOUTH OF THE HALL AT THE INTERSECTION OF ST RT. 82 & ST RT. 44.
                MANTUA CORNERS CATERING WAS ESTABLISHED IN 2011 AND PRIDES ITSELF ON HOMEMADE, DELICIOUS, FRESH, HOT FOOD! THEY START EACH 
                ORDER KNOWING THEIR CUSTOMERS ARE DEPENDING ON THEM TO FULFILL YOUR VISION OF WHAT YOUR "EVENT" WILL BE LIKE. THEY WILL DO THEIR
                BEST TO ENSURE COMMUNICATION WITH YOU TO ENSURE THAT THEY DELIVER SERVICE "ABOVE YOUR CUSTOMERS EXPECTATIONS".
            </div>
            <div class="contentDetails">
                <b><i><u>DJ SERVICE???</u></i></b>. 
            </div>
            <div class="contentDetails">
                ALLOW US TO HOST YOUR…
                <ul class="events">
                    <li class="event">WEDDING RECEPTION</li>
                    <li class="event">FUND RAISER</li>
                    <li class="event">CORPORATE MEETING</li>
                    <li class="event">BIRTHDAY</li>
                    <li class="event">ANNIVERSARY</li>
                    <li class="event">RETIREMENT</li>
                    <li class="event">GRADUATION</li>
                    <li class="event">BAPTISM</li>
                    <li class="event">REUNION</li>
                    <li class="event">MEMORIAL LUNCHEON</li>
                    <li class="event">HOLIDAY PARTY</li>
                </ul>
            </div>
        </div>
    </div>
</div>